$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.36",
             buildTimeStamp: "Wed, 24 Nov 2021 12:29:45 GMT"
          );