$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.10",
             buildTimeStamp: "Tue, 10 Nov 2020 08:01:38 GMT"
          );