$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Fri, 31 Oct 2025 07:14:36 GMT"
          );