$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 26 Jul 2022 03:29:23 GMT"
          );