$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-iframe",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-iframe",
             vfCoreVersion: "2.2.25",
             buildTimeStamp: "Thu, 27 May 2021 09:57:37 GMT"
          );