$componentInfo: (
             name: "@visual-framework/ebi-vf1-integration",
             version: "0.0.1",
             location: "components/ebi-vf1-integration",
             vfCoreVersion: "2.0.0-beta.3"
          );