/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-color__text--primary: #1a1c1a;
  --vf-color__text--secondary: #373a36;
  --vf-color__link: #3b6fb6;
  --vf-color__link--hover: #193f90;
  --vf-color__link--focus: #193f90;
  --vf-color__link--visited: #563d82;
}

:root {
  --vf-color__button__text--primary: #ffffff;
  --vf-color__button__border--primary: #3b6fb6;
  --vf-color__button__background--primary: #3b6fb6;
  --vf-color__button__shadow--primary: #193f90;
  --vf-color__button__text--secondary: #3b6fb6;
  --vf-color__button__border--secondary: #3b6fb6;
  --vf-color__button__background--secondary: #ffffff;
  --vf-color__button__shadow--secondary: #193f90;
  --vf-color__button__text--tertiary: #ffffff;
  --vf-color__button__border--tertiary: #373a36;
  --vf-color__button__background--tertiary: #373a36;
  --vf-color__button__shadow--tertiary: #000000;
}

:root {
  --vf-color__brand: #18974c;
  --vf-color__brand--dark: #0a5032;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

:root {
  --vf-color--neutral--0: #ffffff;
  --vf-color--neutral--100: #f3f3f3;
  --vf-color--neutral--200: #e4e4e4;
  --vf-color--neutral--300: #d0d0ce;
  --vf-color--neutral--400: #a9abaa;
  --vf-color--neutral--500: #8d8f8e;
  --vf-color--neutral--600: #707372;
  --vf-color--neutral--700: #54585a;
  --vf-color--neutral--800: #373a36;
  --vf-color--neutral--900: #000000;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-footer
 * Version: 1.2.3
 * Location: components/vf-core-components/vf-footer
 */
.vf-footer {
  background-color: #54585a;
  border-top: 8px solid #18974c;
  grid-column: 1/-1;
  padding: 24px 0px 32px 0px;
  position: relative;
}
.vf-footer::before {
  background-color: inherit;
  content: "";
  grid-column: 1/-1;
  height: 100%;
  margin-left: calc(50% - 50vw);
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}
.vf-footer::after {
  background-color: #18974c;
  content: "";
  height: 8px;
  margin-left: calc(50% - 50vw);
  position: absolute;
  top: -8px;
  width: 100vw;
  z-index: -1;
}
.vf-footer .vf-links {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 1280px) {
  .vf-footer {
    padding: 24px 16px 32px 16px;
  }
}

.vf-footer__legal {
  color: #ffffff;
  -webkit-column-gap: var(--page-grid-gap);
     -moz-column-gap: var(--page-grid-gap);
          column-gap: var(--page-grid-gap);
  text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.vf-footer__legal .vf-list {
  width: 100%;
  font-size: 19px;
}
.vf-footer__legal .vf-footer__legal-text,
.vf-footer__legal .vf-footer__link {
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.vf-footer__legal .vf-footer__legal-text {
  color: #d0d0ce;
}
.vf-footer__legal .vf-footer__link {
  text-decoration: none;
}
@media (min-width: 1024px) {
  .vf-footer__legal {
    display: grid;
    grid-template-columns: repeat(4, -webkit-max-content);
    grid-template-columns: repeat(4, max-content);
  }
}

.vf-footer__list--legal {
  grid-column: 1/-1;
}
.vf-footer__list--legal .vf-list__item:not(:last-of-type) {
  margin-right: 24px;
}

.vf-footer__links-group {
  border: solid 0px #d0d0ce;
  border-width: 1px 0;
  margin-bottom: 12px;
  padding-bottom: 24px;
  grid-template-columns: repeat(5, 1fr);
}
.vf-footer__links-group .vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  margin: var(--vf-stack-margin, 0) 0 8px 0;
  color: #d0d0ce;
  text-transform: uppercase;
}
.vf-footer__links-group .vf-links__heading .vf-heading__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
}
.vf-footer__links-group .vf-links__heading .vf-heading__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}
.vf-footer__links-group .vf-links__heading .vf-heading__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}
.vf-footer__links-group .vf-links__heading .vf-heading__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}
.vf-footer__links-group .vf-links {
  padding-bottom: 0;
  padding-top: 12px;
}
.vf-footer__links-group .vf-list:last-of-type {
  margin-bottom: 0;
}
.vf-footer__links-group .vf-list__item {
  color: #d0d0ce;
  margin-bottom: 0;
}
.vf-footer__links-group .vf-list__link {
  text-decoration: none;
}
@media (min-width: 1024px) {
  .vf-footer__links-group {
    padding-bottom: 4rem;
  }
}

.vf-footer .vf-links__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
}
.vf-footer .vf-links__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}
.vf-footer .vf-links__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}
.vf-footer .vf-links__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer .vf-list__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
  margin-right: 0;
  text-decoration: none;
}
.vf-footer .vf-list__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}
.vf-footer .vf-list__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}
.vf-footer .vf-list__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

@media screen and (-ms-high-contrast: active) and (min-width: 1024px), screen and (-ms-high-contrast: none) and (min-width: 1024px) {
  .vf-footer {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
  .vf-footer__inner {
    margin: 0 auto;
    max-width: 80em;
  }
}
@media (max-width: 768px) {
  .vf-footer__links-group {
    grid-template-columns: repeat(3, 1fr);
  }
  .vf-footer__links-group .vf-list__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .vf-footer__legal .vf-footer__legal-text, .vf-footer__legal .vf-footer__link {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .vf-footer .vf-grid {
    grid-row-gap: 0rem;
  }
}
.vf-footer__partners .logos-variant .vf-list__item {
  text-align: center;
}

@media (max-width: 600px) {
  .vf-footer__links-group {
    grid-template-columns: repeat(1, 1fr);
  }
  .vf-minimal-footer__intro {
    display: block;
  }
  .vf-footer__partners .logos-variant .vf-list__item {
    text-align: left;
  }
  .vf-footer__partners .vf-list__item img {
    width: 64px !important;
  }
}
.vf-footer .vf-logo__image {
  display: block;
  height: auto;
}

.vf-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  grid-column: main;
  margin: 0 auto;
  max-width: 80em;
  padding: 0;
}

.vf-footer__partners {
  border-top: 8px solid var(--vf-color--green, #18974c);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.vf-footer__partners .vf-grid.vf-grid__col-5 > div:first-child {
  padding-left: 0px;
}

@media (min-width: 600px) {
  .vf-footer__partners-summary-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .vf-footer__partners-summary-grid > .vf-grid__col--span-2 {
    grid-column: span 2;
  }
  .vf-footer__partners-summary-grid > .vf-footer__stat {
    grid-column: span 1;
  }
}
@media (max-width: 768px) and (min-width: 600px) {
  .vf-footer__partners-summary-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    margin-bottom: 2rem;
  }
  .vf-footer__partners-summary-grid > .vf-grid__col--span-2 {
    grid-column: 1/-1;
    margin-bottom: 2rem;
  }
}
@media (max-width: 599px) {
  .vf-footer__partners-summary-grid {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .vf-footer__partners-summary-grid > .vf-grid__col--span-2,
  .vf-footer__partners-summary-grid > .vf-footer__stat {
    grid-column: auto;
    margin-bottom: 2rem;
  }
}
.vf-footer__partners a {
  text-decoration: none;
}

.vf-footer > .vf-grid.vf-grid__col-2 {
  padding-bottom: 2rem;
}

.vf-footer__legal {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0 0;
}
@media (max-width: 600px) {
  .vf-footer__legal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 0rem;
  }
}

.vf-footer__legal span {
  color: var(--vf-color--grey--lightest, #fff);
}

.vf-footer.vf-footer--without-rule {
  border-top: 0;
}

.vf-footer.vf-footer--without-rule::after {
  display: none;
}

.vf-footer h4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 1rem 0;
  color: var(--vf-color--grey--lightest, #fff);
}

.vf-links__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 1rem 0;
  color: var(--vf-color--grey--lightest, #fff);
}

.vf-footer__partners h4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 1rem 0;
  color: var(--vf-color--grey, #54585a);
  font-weight: 400;
  margin-bottom: 8px;
}

.vf-footer__partners-summary-heading {
  margin-bottom: 0.5rem;
}

.vf-footer__partners p {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.71;
  margin: var(--vf-stack-margin, 0) 0 0.5rem 0;
  color: var(--vf-color--grey--dark, #54585a);
}

.vf-footer .vf-links__list {
  padding: 0;
  margin: 0;
}

.vf-footer .vf-list__item {
  margin-bottom: 0.5rem;
}

.vf-footer a.vf-list__link {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.421;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--ui--white, #fff);
}

.vf-footer__link {
  border-bottom: none;
  text-decoration: none;
  color: #ffffff;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--ui--white, #fff);
}
.vf-footer__link:visited {
  color: #d0d0ce;
  border-bottom: none;
}
.vf-footer__link:visited:hover {
  color: #d0d0ce;
  text-decoration: underline;
}
.vf-footer__link:hover {
  color: #d0d0ce;
  border-bottom: none;
  text-decoration: underline;
}

.vf-footer__contact p {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0.5rem 0;
  color: var(--vf-color--grey--lightest, #fff);
}

.vf-footer__contact a {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--ui--white, #fff);
}

.vf-footer__logo-wrapper .vf-footer__notice {
  color: var(--vf-color--ui--grey-lightest, #D0D0CE);
  padding-top: 1rem;
}

.vf-footer__notice {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.71;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--ui--white, #fff);
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  line-height: 1.2;
  max-width: 45em;
}

.vf-footer__legal a {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--ui--white, #fff);
}

.vf-footer__stat p {
  margin: 0;
}

.vf-footer .vf-footer__stat p:first-child {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: 1.333;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--grey--dark, #707372);
}

.vf-footer .vf-footer__stat p:last-child {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  color: var(--vf-color--grey--dark, #707372);
}

.vf-footer > .vf-grid > div:first-child {
  margin-bottom: 2rem;
}

.vf-footer__logo-wrapper {
  margin-bottom: 2rem;
}

.vf-footer__partners .vf-list {
  grid-row-gap: 2px;
}

@media (max-width: 768px) and (min-width: 600px) {
  .vf-footer__partners .vf-grid.vf-grid__col-6.vf-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.vf-footer__partners .vf-list__item {
  margin-bottom: 0 !important;
}

.vf-footer__partners .vf-list__item img {
  height: 64px !important;
}

.vf-footer__social {
  padding-top: 0.5rem;
}
@media (max-width: 768px) {
  .vf-footer__social {
    padding-top: 1rem;
  }
}

.vf-footer__social-link {
  text-decoration: none;
  margin: 0 6px;
}
@media (max-width: 768px) {
  .vf-footer__social-link {
    margin: 0 3px;
  }
}

@media (width: 768px) {
  .vf-footer__inner > div.vf-grid.vf-grid__col-2:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vf-footer__inner > div.vf-grid.vf-grid__col-2:nth-of-type(1) > div > .vf-grid.vf-grid__col-3 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .vf-footer__inner > div.vf-grid.vf-grid__col-2:nth-of-type(1) > div > .vf-grid.vf-grid__col-3 > .vf-links:nth-child(3) {
    grid-column: 1/-1;
  }
  .vf-footer__inner > div.vf-grid.vf-grid__col-2:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vf-footer__inner > div.vf-grid.vf-grid__col-2:nth-of-type(2) .vf-footer__social {
    float: left !important;
  }
  .vf-footer__partners .vf-list__item img {
    width: 64px !important;
  }
}
.vf-footer--light, .vf-u-background-color-ui--white {
  z-index: 1;
}

.vf-footer--light .vf-u-text-color--white {
  color: var(--vf-color--ui--black, #1A1C1A);
}

.vf-footer--light .vf-u-text-color--grey--lightest {
  color: var(--vf-color--grey--dark, #54585a);
}

.vf-footer--light h4 {
  color: var(--vf-color--grey--dark, #54585a);
}

.vf-footer--light .vf-links__heading {
  color: var(--vf-color--grey--dark, #54585a);
}

.vf-footer--light a.vf-list__link {
  color: var(--vf-color--grey--dark, #1A1C1A);
}

.vf-footer--light .vf-footer__link {
  color: var(--vf-color--ui--black, #1A1C1A);
}

.vf-footer--light .vf-footer__contact p {
  color: var(--vf-color--grey--dark, #54585a);
}

.vf-footer--light .vf-footer__contact a {
  color: var(--vf-color--ui--black, #1A1C1A);
}

.vf-footer--light .vf-footer__notice {
  color: var(--vf-color--ui--black, #54585a);
}

.vf-footer--light .vf-footer__legal span {
  color: var(--vf-color--grey--dark, #1A1C1A);
}

.vf-footer--light .vf-footer__legal a {
  color: var(--vf-color--ui--black, #000);
}

.vf-footer.vf-footer--light .vf-footer__link:hover,
.vf-footer__partners .vf-list__link,
.vf-footer__partners .vf-list__item:hover {
  color: var(--vf-color--ui--black, #1A1C1A) !important;
}