/*!
 * Component: @visual-framework/vf-hero
 * Version: 0.0.1
 * Location: components/vf-hero
 */
/*!
 * Component: @visual-framework/vf-hero
 * Version: 0.0.1
 * Location: components/vf-hero
 */
.vf-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 348px;
  position: relative;
}
.vf-hero a {
  color: #000000;
}
.vf-hero a:focus,
.vf-hero a:hover,
.vf-hero a:visited {
  color: #000000;
}
.vf-hero__content {
  padding: 1em;
  position: var(--sticky-position, absolute);
  width: calc(100% - 24%);
}
.vf-hero__heading {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: inline-block;
  margin: 0;
  padding: 0.5em;
}
.vf-hero__text {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin-bottom: 0;
  padding: 1em 0.5em;
}
.vf-hero {
  --vf-hero-content-position--inline-start: 0;
  --vf-hero-content-position--block-end: 0;
  --vf-hero-content-box-shadow: 2px 0 3px
      rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0)),
    -2px 0 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0)),
    0 2px 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0));
  --vf-hero-content-box-shadow: 0;
  --vf-hero__padding: 0;
  --vf-hero-content-shadow-alpha: 0.1;
  --vf-hero-heading-bg-color: 1;
  --vf-hero-heading-text-color: 0;
  --vf-hero-text-bg-color: 0;
  --vf-hero-text-color: 1;
}
.vf-hero {
  background-color: #ffffff;
  background-color: rgba(
    calc((0 + var(--vf-hero-bg-color)) * 255),
    calc((0 + var(--vf-hero-bg-color)) * 255),
    calc((0 + var(--vf-hero-bg-color)) * 255),
    calc((0 + var(--vf-hero-bg-color)) * 100)
  );
  margin-bottom: calc((0 + var(--vf-hero-content-position)) * 1px);
}
.vf-hero--inlay {
  background-color: #ffffff;
  background-color: rgba(
    calc((0 + var(--vf-hero-bg-color)) * 255),
    calc((0 + var(--vf-hero-bg-color)) * 255),
    calc((0 + var(--vf-hero-bg-color)) * 255),
    calc((0 + var(--vf-hero-bg-color)) * 100)
  );
  grid-column: main;
}
.vf-hero__content {
  background-color: #ffffff;
  background-color: rgba(
    calc((0 + var(--vf-hero__content-bg-color)) * 255),
    calc((0 + var(--vf-hero__content-bg-color)) * 255),
    calc((0 + var(--vf-hero__content-bg-color)) * 255),
    calc((0 + var(--vf-hero__content-bg-color)) * 100)
  );
  bottom: -24%;
  bottom: calc((0 - var(--vf-hero-content-position--block-end)) * 1%);
  -webkit-box-shadow: var(--vf-hero-content-box-shadow);
  box-shadow: var(--vf-hero-content-box-shadow);
  left: 12%;
  left: calc((0 + var(--vf-hero-content-position--inline-start)) * 1%);
  padding: calc((0 + var(--vf-hero__padding)) * 0.1em);
  z-index: 5150;
}
.vf-hero__heading {
  background-color: rgb(
    calc((0 + var(--vf-hero-heading-bg-color)) * 255),
    calc((0 + var(--vf-hero-heading-bg-color)) * 255),
    calc((0 + var(--vf-hero-heading-bg-color)) * 255)
  );
  color: rgb(
    calc((0 + var(--vf-hero-heading-text-color)) * 255),
    calc((0 + var(--vf-hero-heading-text-color)) * 255),
    calc((0 + var(--vf-hero-heading-text-color)) * 255)
  );
}
.vf-hero__text {
  --vf-hero-text-bg-color--default: calc(var(--vf-hero-text-bg-color) * 255);
  background-color: rgb(
    var(--vf-hero-text-bg-color--r, var(--vf-hero-text-bg-color--default)),
    var(--vf-hero-text-bg-color--g, var(--vf-hero-text-bg-color--default)),
    var(--vf-hero-text-bg-color--b, var(--vf-hero-text-bg-color--default))
  );
  color: rgb(
    calc((0 + var(--vf-hero-text-color)) * 255),
    calc((0 + var(--vf-hero-text-color)) * 255),
    calc((0 + var(--vf-hero-text-color)) * 255)
  );
}
.vf-hero--easy {
  --vf-hero__content-bg-color: 1;
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --sticky-position: relative;
  height: auto;
  padding-bottom: 48px;
  padding-top: 48px;
}
.vf-hero--easy .vf-hero__content {
  grid-column-start: 2;
  width: 100%;
}
.vf-hero--easy .vf-summary {
  align-self: center;
  grid-column: 3 / span 1;
  margin: 0;
}
@media (min-width: 768px) {
  .vf-hero--easy {
    display: grid;
    grid-template-columns: minmax(var(--page-grid-gap), 60px) [main-start] minmax(
        auto,
        100%
      ) minmax(auto, 22.125em) [main-end] minmax(var(--page-grid-gap), 60px);
  }
}
.vf-hero--normal {
  --vf-hero__content-bg-color: 1;
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --vf-hero-content-position: 100;
  --vf-hero-content-position--block-end: 12;
  --vf-hero-content-position--inline-start: 6;
  --vf-hero-content-shadow-alpha: 1;
}
@media (min-width: 600px) {
  .vf-hero--normal {
    --vf-hero-content-position--block-end: 24;
    --vf-hero-content-position--inline-start: 12;
  }
}
.vf-hero--normal > .vf-content {
  width: calc(100% - (var(--vf-hero-content-position--inline-start) * 2%));
}
.vf-hero--medium {
  --vf-hero-bg-color: 1;
  --vf-hero-content-position: 100;
  --vf-hero-content-position--block-end: 24;
  --vf-hero-content-shadow-alpha: 1;
}
.vf-hero--hard {
  --vf-hero-bg-color: 1;
}
.vf-hero--extreme {
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --sticky-position: relative;
}
.vf-hero-theme--primary {
  --vf-hero-text-bg-color--r: 24;
  --vf-hero-text-bg-color--g: 151;
  --vf-hero-text-bg-color--b: 76;
  --vfhero-text-color: 1;
}
.vf-hero-theme--primary a {
  color: white;
}
.vf-hero-theme--primary a:focus,
.vf-hero-theme--primary a:hover,
.vf-hero-theme--primary a:visited {
  color: white;
}
.vf-hero-theme--secondary {
  --vf-hero-text-bg-color--r: 59;
  --vf-hero-text-bg-color--g: 111;
  --vf-hero-text-bg-color--b: 182;
  --vfhero-text-color: 1;
}
.vf-hero-theme--secondary a {
  color: #ffffff;
}
.vf-hero-theme--secondary a:focus,
.vf-hero-theme--secondary a:hover,
.vf-hero-theme--secondary a:visited {
  color: #ffffff;
}
.vf-hero-theme--tertiary a {
  color: #ffffff;
}
.vf-hero-theme--tertiary a:focus,
.vf-hero-theme--tertiary a:hover,
.vf-hero-theme--tertiary a:visited {
  color: #ffffff;
}
