/*!
 * Component: @visual-framework/vf-hero
 * Version: 0.0.1
 * Location: components/vf-hero
 */
/* stylelint-disable */
.vf-hero {
  background-color: #ffffff;
  background-color: rgba(calc( (0 + var(--vf-hero-bg-color) ) * 255), calc( (0 + var(--vf-hero-bg-color) ) * 255), calc( (0 + var(--vf-hero-bg-color) ) * 255), calc( (0 + var(--vf-hero-bg-color) ) * 100));
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 348px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(var(--page-grid-gap), auto) [hero-start] minmax(288px, 76.5em) [hero-end] minmax(var(--page-grid-gap), auto);
  grid-template-rows: var(--vf-hero-grid__row, 260px) -webkit-max-content;
  grid-template-rows: var(--vf-hero-grid__row, 260px) max-content;
  margin-bottom: 2rem;
}
.vf-hero a {
  color: #000000;
}
.vf-hero a:focus,
.vf-hero a:hover,
.vf-hero a:visited {
  color: #000000;
}
.vf-hero .vf-hero__content {
  grid-column: 2 / span 1;
}
.vf-hero__content {
  padding: 1em;
  width: calc(100% - 24%);
}
.vf-hero__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: inline-block;
  margin: 0;
  padding: .5em;
}
.vf-hero__text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin-bottom: 0;
  padding: 1em .5em;
}
.vf-hero {
  --vf-hero-content-box-shadow:
    2px 0 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0)),
   -2px 0 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0)),
    0 2px 3px rgba(0, 0, 0, var(--vf-hero-content-shadow-alpha, 0));
  --vf-hero-content-box-shadow: 0;
  --vf-hero__padding: 0;
  --vf-hero-content-shadow-alpha: .1;
  --vf-hero-heading-bg-color: 1;
  --vf-hero-heading-text-color: 0;
  --vf-hero-text-bg-color: 0;
  --vf-hero-text-color: 1;
}
.vf-hero--inlay {
  max-width: 76.5em;
  margin: 0 auto;
}
.vf-hero__content {
  background-color: #ffffff;
  background-color: rgba(calc( (0 + var(--vf-hero__content-bg-color) ) * 255), calc( (0 + var(--vf-hero__content-bg-color) ) * 255), calc( (0 + var(--vf-hero__content-bg-color) ) * 255), calc( (0 + var(--vf-hero__content-bg-color) ) * 100));
  -webkit-box-shadow: var(--vf-hero-content-box-shadow);
          box-shadow: var(--vf-hero-content-box-shadow);
  padding: calc( (0 + var(--vf-hero__padding) ) * .1em);
  z-index: 5150;
}
.vf-hero__heading {
  background-color: rgb(calc( (0 + var(--vf-hero-heading-bg-color) ) * 255), calc( (0 + var(--vf-hero-heading-bg-color) ) * 255), calc( (0 + var(--vf-hero-heading-bg-color) ) * 255));
  color: rgb(calc( (0 + var(--vf-hero-heading-text-color) ) * 255), calc( (0 + var(--vf-hero-heading-text-color) ) * 255), calc( (0 + var(--vf-hero-heading-text-color) ) * 255));
}
.vf-hero__text {
  --vf-hero-text-bg-color--default: calc( var(--vf-hero-text-bg-color) * 255);
  background-color: rgb(var(--vf-hero-text-bg-color--r, var(--vf-hero-text-bg-color--default)), var(--vf-hero-text-bg-color--g, var(--vf-hero-text-bg-color--default)), var(--vf-hero-text-bg-color--b, var(--vf-hero-text-bg-color--default)));
  color: rgb(calc( (0 + var(--vf-hero-text-color) ) * 255), calc( (0 + var(--vf-hero-text-color) ) * 255), calc( (0 + var(--vf-hero-text-color) ) * 255));
}
.vf-hero--easy {
  --vf-hero__content-bg-color: 1;
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --vf-hero-grid__row: 1fr;
  height: auto;
  padding-bottom: 48px;
  padding-top: 48px;
}
.vf-hero--easy .vf-hero__content {
  grid-column-start: 2;
  width: 100%;
}
.vf-hero--easy .vf-summary {
  align-self: center;
  grid-column: 3 / span 1;
  margin: 0;
}
@media (min-width: 768px) {
  .vf-hero--easy {
    display: grid;
    grid-template-columns: minmax(var(--page-grid-gap), 60px) [main-start] minmax(auto, 100%) minmax(auto, 22.125em) [main-end] minmax(var(--page-grid-gap), 60px);
    margin: 0 auto;
    max-width: 76.5em;
  }
}
.vf-hero--normal {
  --vf-hero__content-bg-color: 1;
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
  --vf-hero-content-shadow-alpha: 1;
}
.vf-hero--normal .vf-hero__content {
  grid-row: 2 / span 1;
  justify-self: center;
}
.vf-hero--medium {
  --vf-hero-bg-color: 1;
  --vf-hero-content-shadow-alpha: 1;
}
.vf-hero--medium .vf-hero__content {
  grid-row: 2 / span 1;
  justify-self: flex-start;
}
.vf-hero--hard {
  --vf-hero-bg-color: 1;
  --vf-hero-grid__row: 348px;
}
.vf-hero--hard > .vf-hero__content {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.vf-hero--extreme {
  --vf-hero-bg-color: 1;
  --vf-hero-text-bg-color: 1;
  --vf-hero-text-color: 0;
}
.vf-hero-theme--primary {
  --vf-hero-text-bg-color--r: 24;
  --vf-hero-text-bg-color--g: 151;
  --vf-hero-text-bg-color--b: 76;
  --vf-hero-text-color: 1;
}
.vf-hero-theme--primary a {
  color: white;
}
.vf-hero-theme--primary a:focus,
.vf-hero-theme--primary a:hover,
.vf-hero-theme--primary a:visited {
  color: white;
}
.vf-hero-theme--primary .vf-hero__lens + .vf-hero__content .vf-hero__text {
  --vf-hero-text-bg-color--r: 0;
  --vf-hero-text-bg-color--g: 0;
  --vf-hero-text-bg-color--b: 0;
}
.vf-hero-theme--primary .vf-hero__lens + .vf-hero__content .vf-hero__heading {
  --vf-hero-heading-bg-color: 1;
}
.vf-hero-theme--primary .vf-hero__lens {
  background-color: #18974c;
  height: 100%;
  max-height: 348px;
}
.vf-hero-theme--primary .vf-hero__lens path {
  fill: #18974c;
  height: 100%;
  width: 100%;
}
.vf-hero-theme--secondary {
  --vf-hero-text-bg-color--r: 59;
  --vf-hero-text-bg-color--g: 111;
  --vf-hero-text-bg-color--b: 182;
  --vf-hero-text-color: 1;
}
.vf-hero-theme--secondary a {
  color: #ffffff;
}
.vf-hero-theme--secondary a:focus,
.vf-hero-theme--secondary a:hover,
.vf-hero-theme--secondary a:visited {
  color: #ffffff;
}
.vf-hero-theme--secondary .vf-hero__lens + .vf-hero__content .vf-hero__text {
  --vf-hero-text-bg-color--r: 0;
  --vf-hero-text-bg-color--g: 0;
  --vf-hero-text-bg-color--b: 0;
}
.vf-hero-theme--secondary .vf-hero__lens + .vf-hero__content .vf-hero__heading {
  --vf-hero-heading-bg-color: 1;
}
.vf-hero-theme--secondary .vf-hero__lens {
  background-color: #3b6fb6;
}
.vf-hero-theme--secondary .vf-hero__lens path {
  fill: #3b6fb6;
  height: 100%;
  width: 100%;
}
.vf-hero-theme--tertiary a {
  color: #ffffff;
}
.vf-hero-theme--tertiary a:focus,
.vf-hero-theme--tertiary a:hover,
.vf-hero-theme--tertiary a:visited {
  color: #ffffff;
}
.vf-hero__lens {
  height: 348px;
  position: absolute;
  width: 100%;
}
/* stylelint-enable */
