/*
Theme Name:		 vf-wp-news-main
Theme URI:		 http://childtheme-generator.com/
Description:	 vf-wp-news-main is a child theme of VF-WP, created by ChildTheme-Generator.com
Author:        Szymon Kasprzyk
Author URI:		 http://childtheme-generator.com/
Template:      vf-wp
Version:       1.0.0-beta.1
Text Domain:	 vf-wp-news-main
*/



.archive-container a {
  color: #54585a;
  text-decoration: none;
}

.archive-container a:hover {
  text-decoration: underline;
}

/* ------ Newsletter ------ */

.social:hover {
  color: #A8A99E;
}

.press-link {
  display: block;
}

.newsletter-container i {
  font-size: 32px;
  padding-right: 5px;
  color: #fff;
}

/* ------ EMBL ETC ------ */

.magazine {
  padding: 10px 0;
}

.embl-etc-right-col .magazine-download {
  display: block;
  color: #fff;
}

.embl-etc-right-col .embl-etc,
.magazine h3 {
  font-weight: 400;
}

.magazine ul {
  font-weight: 300;
}

.magazine img {
  margin-right: 20px;
  float: left;
  width: 120px;
  height: auto;
  box-shadow: 1px 1px 2px #333;
}

.embl-etc-left-col .embl-etc-heading {
  margin-top: 5px;
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
}

/* ---Author----*/

.author-description i {
  color: #fff;
  font-size: 14px;
  padding-right: 10px;
}

/* ---CONTENT PAGE----*/

.tags-inline {
  display: inline-block;
}

.vf-figure img {
  margin-bottom: 4px;
}

.social-share-box {
  padding-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 1299px) {
  .vf-grid {
    grid-column: main;
  }

  .embl-grid .vf-grid {
    grid-column: 1 / -1;
  }
}

@media (max-width: 1023px) {
  .vf-grid-featured-col-right {
    grid-column-end: span 4 !important;
    
  }
}

/* fullbleed adjustments */

.pow-container,
.category-more {
  display: block !important;
}

.vf-u-fullbleed::before {
  grid-column: unset !important;
}

.embl-etc-right-col {
  margin-top: -1.5em;
  margin-bottom: -1.5em;
  padding-top: 2.5em;
  padding-bottom: 1em;
}

/* embedding responsive youtube videos */

.embed-container {
  position: relative;
  padding-bottom: 56.25% !important;
  height: auto !important;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-padding-latest {
  padding-bottom: 30.25% !important;
}

.vf-grid-featured-col-right .embed-padding-hero {
  padding-bottom: 38.25% !important;
}
.vf-grid-featured-col-left .embed-padding-hero {
  padding-bottom: 58.25% !important;
}

/* .vf-grid-featured-col-left .vf-card__heading {
  font-size: 30px !important;
} */

.vf-grid-featured-col-left .vf-card {
  display: block !important; 
  min-height: 100% !important;
}

.vf-grid-featured-col-left .vf-card img {
aspect-ratio: auto;
}
.vf-grid-featured-col-right .vf-card img {
aspect-ratio: var(--vf-card__image--aspect-ratio, 8/5);
}


.vf-grid-featured-col-left .vf-card__text {
margin-bottom: 1rem !important;
}

.newsletter-container .vf-icon {
  fill: #fff !important;
}

.newsletter-container .vf-social-links__item {
  background: #54585a !important;
}

.social-box .vf-icon {
  fill: #000 !important;
}

.social-box .vf-social-links__item {
  background: #fff
}

.vf-summary--news img {
  height: auto !important;
}

.newsletter-box .vf-link,
.press-box .vf-link {
  color: #fff !important;
}