/*! VF-WP - Main (Sass-compiled) */

/**
 * Ignore width and height attributes on attachments
 */

img[class*="attachment"] {
  width: auto;
  height: auto;
}

@import "_hacks.scss";
@import "_VF1-corrections.scss";
