.vf-autocomplete__wrapper {
  position: relative;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.vf-autocomplete__hint {
  color: #54585a;
  position: absolute;
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  width: 100%;
}

/*

.vf-autocomplete__input--default {
  padding: 4px;
}

.vf-autocomplete__input--focused {
  outline-offset: 0;
  outline: 3px solid #ffbf47;
}

.vf-autocomplete__input--show-all-values {
  padding: 4px 34px 4px 4px;
  cursor: pointer;
}

*/

.vf-autocomplete__input {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.71;
  margin: 0;
  border-color: #f3f3f3;
  border-style: solid;
  border-width: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #54585a;
  display: block;
  padding: 12px;
  position: relative;
  width: 100%; }
  .vf-autocomplete__input:focus, .vf-autocomplete__input:hover {
    border-color: currentColor;
    color: #282d23;
    outline: 0; }
  .vf-autocomplete__input:-moz-placeholder {
    color: #54585a; }
  .vf-autocomplete__input::-moz-placeholder {
    color: #54585a; }
  .vf-autocomplete__input:-ms-input-placeholder {
    color: #54585a; }
  .vf-autocomplete__input::-webkit-input-placeholder {
    color: #54585a; }

.vf-autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px;
}

.vf-autocomplete__menu {
  background-color: #fff;
  border: 3px solid #282d23;
  border-top: 0;
  color: #54585a;
  margin: 0;
  max-height: 343px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 6px);
}

.vf-autocomplete__menu--visible {
  display: block;
}

.vf-autocomplete__menu--hidden {
  display: none;
}

.vf-autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.vf-autocomplete__menu--inline {
  position: relative;
}

.vf-autocomplete__option {
  border-bottom: solid #f3f3f3;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}

.vf-autocomplete__option > * {
  pointer-events: none;
}

.vf-autocomplete__option:first-of-type {
  border-top-width: 0;
}

.vf-autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.vf-autocomplete__option--odd {
  background-color: #f3f3f3;
}

.vf-autocomplete__option:hover,
.vf-autocomplete__option--focused {
  background-color: #003da5;
  border-color: #003da5;
  color: #fff;
  outline: 0;
}

.vf-autocomplete__option--no-results {
  background-color: #fafafa;
  color: #646b6f;
  cursor: not-allowed;
}

.vf-autocomplete__hint,
.vf-autocomplete__input,
.vf-autocomplete__option {
  font-size: 16px;
  line-height: 1.71;
}

.vf-autocomplete__hint,
.vf-autocomplete__option {
  padding: 6px 12px;
}
