// vf-local-overrides

// **Thinking about deleting this file?**
// If your component needs no CSS/Sass, we still recommend leaving the
// scss files in place. As this is primarily a CSS framework, it is better to
// leave the empty files so you know a file wasn't accidently omitted.
// If you don't have any Sass, you can trim this block down to:
// "This page was intentionally left blank"


@import 'vf-local-overrides.variables.scss';

.vf-local-overrides {
  /* your settings here */
}

/* the left column headers don't need any padding when made with markdown */
.vf-content.embl-grid > section > h4,
.vf-content.embl-grid > div > h4 {
  margin-top: 4px;
}

.vf-box__text {

  // some times there's a link inside the text in old WP posts.
  // the vf-box might also be inside of `vf-content`
  .vf-content & a,
  a {
    color: currentColor;
    text-decoration: underline;
    &:hover {
      color: currentColor;
    }
  }
}

  // WordPress is adding a figure around tables and we get default margins
  figure:not([class*="vf-"]) {
    margin: 0;
  }
