/*! VF-WP - Main (Sass-compiled) */

/**
 * Reset page grid when VF container patterns require a wrapping div
 */
.vfwp-column-reset {
  grid-column: 1 / -1;
}

/**
 * Ignore width and height attributes on attachments
 */

img[class*="attachment"] {
  width: auto;
  height: auto;
}
