/*
 *
 * Here lies a set of corrections that make components from VF1 look like VF2, in terms of colour
 * and typography. So as not to have to make too many 'hacks' in VF2.0
 *
 */

// sneaks in a small change to make the EBI 'black bar' more VF2.0 with grey--darkest
.masthead-black-bar {
  background-color: #373a36; /* VF2.0 $vf-color--grey--darkest */
}

// this makes the EBI / VF1.x header the same max-width of VF2.0
#masthead-black-bar .row {
  max-width: 76.5rem;
}

// this makes the EBI / VF1.x footer the same max-width of VF2.0
#global-footer .row {
  max-width: 76.5rem;
}

// this alters the typeface for the VF1.x header navigation to match Plex
#global-nav {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

// this alters the typeface for the VF1.x footer to match Plex
#global-footer {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

// removes EBI / VF1.0 link decorations HACK
a {
  border: none !important;
}


// adds EBI / VF1.0 underline link decorations
a:hover {
text-decoration: underline;
}


// makes a blanket "you're all Plex Sans now!" style for headings that are out of the VF2.0 name-space
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

// removes text-rendering: optimizeLegibility
p {
  text-rendering: initial;
}


// temporary hack for VF2.0 button visited, probably doesn't need the important
.vf-button--tertiary:visited {
  color: white !important;
}
