$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Thu, 08 Jan 2026 14:40:49 GMT"
          );