$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.39",
             buildTimeStamp: "Fri, 16 Jun 2023 03:22:33 GMT"
          );