$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.17",
             buildTimeStamp: "Wed, 24 Feb 2021 11:49:41 GMT"
          );