$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.21",
             buildTimeStamp: "Thu, 01 Apr 2021 04:38:31 GMT"
          );