$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Mon, 17 Feb 2025 15:14:49 GMT"
          );