$componentInfo: (
             name: "@visual-framework/vfwp-autocomplete",
             version: "0.0.1",
             location: "components/vfwp-autocomplete",
             vfCoreVersion: "2.0.0-rc.4"
          );