/*
Theme Name:   VF-WP Groups
Theme URI:    https://github.com/visual-framework/vf-wp/
Description:  Visual Framework WordPress Theme for Groups
Author:       EMBL
Template:     vf-wp
Version:      1.0.0-beta.5
Text Domain:  vfwp
*/
ul li ul.children li {
    list-style: none;
   }