$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Thu, 01 Dec 2022 12:39:09 GMT"
          );