$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Wed, 08 Jan 2025 11:12:23 GMT"
          );