$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.25",
             buildTimeStamp: "Thu, 20 May 2021 11:10:54 GMT"
          );