$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Tue, 06 Dec 2022 17:14:57 GMT"
          );