$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Thu, 15 Jan 2026 12:11:40 GMT"
          );