$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Fri, 27 Feb 2026 09:39:33 GMT"
          );