$componentInfo: (
             name: "@visual-framework/vfwp-admin",
             version: "0.0.1",
             location: "components/vfwp-admin",
             vfCoreVersion: "2.2.39",
             buildTimeStamp: "Fri, 14 Jul 2023 04:02:09 GMT"
          );