/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-content
 * Version: 1.2.3
 * Location: components/vf-content
 */
.vf-content h1:not([class*=vf-]), .editor-styles-wrapper h1:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 0 0;
}
.vf-content h1:not([class*=vf-]) + small, .editor-styles-wrapper h1:not([class*=vf-]) + small {
  margin-bottom: 35px;
  margin-top: 22px;
}
.vf-content h1:not([class*=vf-]) b, .editor-styles-wrapper h1:not([class*=vf-]) b,
.vf-content h1:not([class*=vf-]) strong,
.editor-styles-wrapper h1:not([class*=vf-]) strong {
  font-weight: inherit;
}
.vf-content h2:not([class*=vf-]), .editor-styles-wrapper h2:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 39px 0;
  margin-top: 0;
  padding-top: 13px;
}
.vf-content h2:not([class*=vf-]) b, .editor-styles-wrapper h2:not([class*=vf-]) b,
.vf-content h2:not([class*=vf-]) strong,
.editor-styles-wrapper h2:not([class*=vf-]) strong {
  font-weight: inherit;
}
.vf-content h3:not([class*=vf-]), .editor-styles-wrapper h3:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 13px 0;
  margin-top: 24px;
}
.vf-content h3:not([class*=vf-]) b, .editor-styles-wrapper h3:not([class*=vf-]) b,
.vf-content h3:not([class*=vf-]) strong,
.editor-styles-wrapper h3:not([class*=vf-]) strong {
  font-weight: inherit;
}
.vf-content h4:not([class*=vf-]), .editor-styles-wrapper h4:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 13px 0;
  margin-top: 24px;
}
.vf-content h4:not([class*=vf-]) b, .editor-styles-wrapper h4:not([class*=vf-]) b,
.vf-content h4:not([class*=vf-]) strong,
.editor-styles-wrapper h4:not([class*=vf-]) strong {
  font-weight: inherit;
}
.vf-content h5:not([class*=vf-]), .editor-styles-wrapper h5:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 13px 0;
  margin-top: 24px;
}
.vf-content h5:not([class*=vf-]) b, .editor-styles-wrapper h5:not([class*=vf-]) b,
.vf-content h5:not([class*=vf-]) strong,
.editor-styles-wrapper h5:not([class*=vf-]) strong {
  font-weight: inherit;
}
.vf-content h6:not([class*=vf-]), .editor-styles-wrapper h6:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 13px 0;
  margin-top: 24px;
}
.vf-content h6:not([class*=vf-]) b, .editor-styles-wrapper h6:not([class*=vf-]) b,
.vf-content h6:not([class*=vf-]) strong,
.editor-styles-wrapper h6:not([class*=vf-]) strong {
  font-weight: inherit;
}
.vf-content p:not([class*=vf-]), .editor-styles-wrapper p:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 24px 0;
}
.vf-content .vf-link, .editor-styles-wrapper .vf-link,
.vf-content a:not([class*=vf-]),
.editor-styles-wrapper a:not([class*=vf-]) {
  border-bottom: none;
  text-decoration: none;
  color: #3b6fb6;
}
.vf-content .vf-link:visited, .editor-styles-wrapper .vf-link:visited,
.vf-content a:not([class*=vf-]):visited,
.editor-styles-wrapper a:not([class*=vf-]):visited {
  color: #734595;
  border-bottom: none;
}
.vf-content .vf-link:visited:hover, .editor-styles-wrapper .vf-link:visited:hover,
.vf-content a:not([class*=vf-]):visited:hover,
.editor-styles-wrapper a:not([class*=vf-]):visited:hover {
  color: #734595;
  text-decoration: underline;
}
.vf-content .vf-link:hover, .editor-styles-wrapper .vf-link:hover,
.vf-content a:not([class*=vf-]):hover,
.editor-styles-wrapper a:not([class*=vf-]):hover {
  color: #193f90;
  border-bottom: none;
  text-decoration: underline;
}
.vf-content small:not([class*=vf-]), .editor-styles-wrapper small:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  display: block;
}
.vf-content ol:not([class*=vf-]), .editor-styles-wrapper ol:not([class*=vf-]) {
  margin: 0;
  list-style-type: decimal;
  padding-left: 16px;
  padding-left: 20px;
}
.vf-list--ordered__item {
  margin-bottom: 16px;
}

.vf-content ul:not([class*=vf-]), .editor-styles-wrapper ul:not([class*=vf-]) {
  margin: 0;
  padding-left: 16px;
  list-style-type: disc;
  padding-left: 20px;
}
.vf-list--unordered__item {
  margin-bottom: 16px;
}

.vf-content li:not([class*=vf-]), .editor-styles-wrapper li:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin-bottom: 8px;
}
.vf-content li:not([class*=vf-]) > ul:not([class*=vf-]), .editor-styles-wrapper li:not([class*=vf-]) > ul:not([class*=vf-]),
.vf-content li:not([class*=vf-]) > ol:not([class*=vf-]),
.editor-styles-wrapper li:not([class*=vf-]) > ol:not([class*=vf-]) {
  margin-top: 8px;
}
.vf-content li:not([class*=vf-]):last-of-type, .editor-styles-wrapper li:not([class*=vf-]):last-of-type {
  margin-bottom: 16px;
}
.vf-content hr:not([class*=vf-]), .editor-styles-wrapper hr:not([class*=vf-]) {
  background-color: #d8d8d8;
  margin: 0 8px;
  height: 1px;
  border: none;
}
.vf-content code:not([class*=vf-]), .editor-styles-wrapper code:not([class*=vf-]) {
  padding-left: 3px;
  padding-right: 3px;
}
.vf-content blockquote:not([class*=vf-]), .editor-styles-wrapper blockquote:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin: 0 0 0 0;
  border: 0;
  padding: 10px 8px 10px 32px;
  position: relative;
}
.vf-content blockquote:not([class*=vf-])::before, .editor-styles-wrapper blockquote:not([class*=vf-])::before {
  content: "";
  border-left: 4px solid #d0d0ce;
  position: absolute;
  left: 12px;
  height: 100%;
  top: 0;
}
.vf-content blockquote:not([class*=vf-]) p:last-of-type:not([class*=vf-]), .editor-styles-wrapper blockquote:not([class*=vf-]) p:last-of-type:not([class*=vf-]) {
  margin-bottom: 0;
}
.vf-content table:not([class*=vf-]), .editor-styles-wrapper table:not([class*=vf-]) {
  background-color: #ffffff;
  border-collapse: collapse;
}
.vf-content table:not([class*=vf-]) caption, .editor-styles-wrapper table:not([class*=vf-]) caption {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  text-align: left;
}
.vf-content table:not([class*=vf-]) thead, .editor-styles-wrapper table:not([class*=vf-]) thead {
  background-color: #d0d0ce;
}
.vf-content table:not([class*=vf-]) thead th, .editor-styles-wrapper table:not([class*=vf-]) thead th {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 0 0;
  padding: 8px 16px;
  text-align: left;
}
.vf-content table:not([class*=vf-]) td, .editor-styles-wrapper table:not([class*=vf-]) td {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 0 0;
  padding: 8px 16px;
  text-align: left;
  vertical-align: top;
}
.vf-content table:not([class*=vf-]) tr:nth-of-type(even), .editor-styles-wrapper table:not([class*=vf-]) tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.vf-content table:not([class*=vf-]) tfoot, .editor-styles-wrapper table:not([class*=vf-]) tfoot {
  background-color: #d0d0ce;
  border-top: 1px solid #000000;
}
.vf-content table:not([class*=vf-]) tfoot td, .editor-styles-wrapper table:not([class*=vf-]) tfoot td {
  padding: 8px 16px;
}
.vf-content figcaption:not([class*=vf-]), .editor-styles-wrapper figcaption:not([class*=vf-]),
.vf-content cite:not([class*=vf-]),
.editor-styles-wrapper cite:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  color: #707372;
  font-style: italic;
}
.vf-content .vf-video, .editor-styles-wrapper .vf-video {
  margin-bottom: 32px;
}
.vf-content .vf-figure--align-inline-start, .editor-styles-wrapper .vf-figure--align-inline-start {
  margin-bottom: 32px;
  margin-right: 32px;
}
.vf-content .vf-figure--align-inline-end, .editor-styles-wrapper .vf-figure--align-inline-end {
  margin-bottom: 32px;
  margin-left: 32px;
}

.vf-content__standfirst {
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 46px;
  margin-top: 0;
}
.vf-content__standfirst + .vf-content__standfirst {
  margin-bottom: 24px;
}
.vf-content__standfirst + small {
  margin-bottom: 42px;
}

[class*="--dark"].vf-content .vf-link, [class*="--dark"].editor-styles-wrapper .vf-link,
[class*="--dark"].vf-content a:not([class*=vf-]),
[class*="--dark"].editor-styles-wrapper a:not([class*=vf-]),
.vf-content > [class*=dark] .vf-link,
.editor-styles-wrapper > [class*=dark] .vf-link,
.vf-content > [class*=dark] a:not([class*=vf-]),
.editor-styles-wrapper > [class*=dark] a:not([class*=vf-]) {
  border-bottom: none;
  text-decoration: none;
  color: #a8d2ff;
}
[class*="--dark"].vf-content .vf-link:visited, [class*="--dark"].editor-styles-wrapper .vf-link:visited,
[class*="--dark"].vf-content a:not([class*=vf-]):visited,
[class*="--dark"].editor-styles-wrapper a:not([class*=vf-]):visited,
.vf-content > [class*=dark] .vf-link:visited,
.editor-styles-wrapper > [class*=dark] .vf-link:visited,
.vf-content > [class*=dark] a:not([class*=vf-]):visited,
.editor-styles-wrapper > [class*=dark] a:not([class*=vf-]):visited {
  color: #cba3d8;
  border-bottom: none;
}
[class*="--dark"].vf-content .vf-link:visited:hover, [class*="--dark"].editor-styles-wrapper .vf-link:visited:hover,
[class*="--dark"].vf-content a:not([class*=vf-]):visited:hover,
[class*="--dark"].editor-styles-wrapper a:not([class*=vf-]):visited:hover,
.vf-content > [class*=dark] .vf-link:visited:hover,
.editor-styles-wrapper > [class*=dark] .vf-link:visited:hover,
.vf-content > [class*=dark] a:not([class*=vf-]):visited:hover,
.editor-styles-wrapper > [class*=dark] a:not([class*=vf-]):visited:hover {
  color: #cba3d8;
  text-decoration: underline;
}
[class*="--dark"].vf-content .vf-link:hover, [class*="--dark"].editor-styles-wrapper .vf-link:hover,
[class*="--dark"].vf-content a:not([class*=vf-]):hover,
[class*="--dark"].editor-styles-wrapper a:not([class*=vf-]):hover,
.vf-content > [class*=dark] .vf-link:hover,
.editor-styles-wrapper > [class*=dark] .vf-link:hover,
.vf-content > [class*=dark] a:not([class*=vf-]):hover,
.editor-styles-wrapper > [class*=dark] a:not([class*=vf-]):hover {
  color: #a8d2ff;
  border-bottom: none;
  text-decoration: underline;
}

/*!
 * Component: @visual-framework/vfwp-admin
 * Version: 0.0.1
 * Location: components/vfwp-admin
 */
.vfwp-notice a {
  text-decoration: none;
}

.wp-list-table .column-vf_hash,
.wp-list-table .column-vf_modified {
  width: 10%;
}

.post-type-vf_block .edit-post-visual-editor,
.post-type-vf_container .edit-post-visual-editor {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.post-type-vf_block .editor-block-list__layout,
.post-type-vf_container .editor-block-list__layout {
  min-height: 10px;
}
.post-type-vf_block .edit-post-layout__metaboxes,
.post-type-vf_container .edit-post-layout__metaboxes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.post-type-vf_block .edit-post-layout__metaboxes:empty,
.post-type-vf_container .edit-post-layout__metaboxes:empty {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.editor-post-title__block {
  --vf-text-margin--bottom: 0;
}
.editor-post-title__block .editor-post-title__input {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.editor-styles-wrapper .wp-block .acf-table td,
.editor-styles-wrapper .wp-block .acf-radio-list li,
.editor-styles-wrapper .wp-block .acf-checkbox-list li {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.editor-styles-wrapper .wp-block .button-primary {
  color: #fff;
}
.editor-styles-wrapper .vf-details[open] .vf-details--summary {
  pointer-events: none;
}

.block-editor .editor-styles-wrapper .has-extra-large-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.block-editor .editor-styles-wrapper .has-large-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.block-editor .editor-styles-wrapper .has-regular-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.block-editor .editor-styles-wrapper .has-small-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}
.block-editor .editor-styles-wrapper .has-extra-small-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}