// vfwp-admin

@import 'vf-font-plex-sans/vf-font-plex-sans.scss';

@import 'vfwp-admin.variables.scss';

@import 'package.variables.scss';

// Debug information from component's `package.json`:
// ---
/*!
 * Component: #{map-get($componentInfo, 'name')}
 * Version: #{map-get($componentInfo, 'version')}
 * Location: #{map-get($componentInfo, 'location')}
 */

@mixin editor-font-sizes {
  .has-extra-large-font-size {
    @include set-type(text-body--1);
  }

  .has-large-font-size {
    @include set-type(text-body--2);
  }

  .has-regular-font-size {
    @include set-type(text-body--3);
  }

  .has-small-font-size {
    @include set-type(text-body--4);
  }

  .has-extra-small-font-size {
    @include set-type(text-body--5);
  }
}

@include editor-font-sizes;

.wp-list-table {
  .column-vf_hash,
  .column-vf_modified {
    width: 10%;
  }
}

.post-type-vf_block,
.post-type-vf_container {
  // Auto-shrink Gutenberg editor
  .edit-post-visual-editor {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }

  // Ensure some visual spacing
  .editor-block-list__layout {
    min-height: 10px;
  }

  // Auto-grow the post meta boxes below
  .edit-post-layout__metaboxes {
    flex-grow: 1;

    &:empty {
      flex-grow: 0;
    }

    // Hide ACF field settings
    .acf-hndle-cog {
      display: none !important;
    }
  }
}

// Post title as `h1` heading
.editor-post-title__block {
  --vf-text-margin--bottom: 0;

  .editor-post-title__input {
    @include set-type(text-heading--1);
  }
}

// Placeholder block
.wp-block {
  max-width: 780px;

  .block-editor-default-block-appender {
    --vf-text-margin--bottom: 0;

    .block-editor-default-block-appender__content {
      @include set-type(text-body--2);
    }
  }
}

// Heading block
.wp-block[data-type='core/heading'] {
  --vf-text-margin--bottom: 0;

  h1 {
    @include set-type(text-heading--1);
  }
  h2 {
    @include set-type(text-heading--2);
  }
  h3 {
    @include set-type(text-heading--3);
  }
  h4 {
    @include set-type(text-heading--4);
  }
  h5 {
    @include set-type(text-heading--5);
  }
  h6 {
    @include set-type(text-heading--5);
  }
}

// Paragraph block
.wp-block[data-type='core/paragraph'] {
  --vf-text-margin--bottom: 0;

  .editor-rich-text {
    p {
      @include set-type(text-body--2);
      // override WordPress defaults :(
      line-height: 1.421 !important;
    }

    @include editor-font-sizes;
  }
}

// List block
.wp-block[data-type='core/list'] {
  --vf-text-margin--bottom: 0;

  .editor-rich-text {
    li {
      @include set-type(text-body--2);
      margin-bottom: map-get($vf-spacing-map, vf-spacing--sm);
    }
  }
}

// Quote block
.wp-block[data-type='core/quote'] {
  --vf-text-margin--bottom: 16px;

  .editor-rich-text {
    p {
      @include set-type(text-body--2);
    }
  }

  .wp-block-quote__citation {
    @include set-type(text-body--4);
  }

  .wp-block-quote {
    border-left: 4px solid #d0d0ce;
  }
}

// Table block
.wp-block[data-type='core/table'] {
  --vf-text-margin--bottom: 0;

  .editor-rich-text {
    @include set-type(text-body--3);
  }
}

// Widget blocks
.wp-block[data-type='core/archives'],
.wp-block[data-type='core/categories'],
.wp-block[data-type='core/latest-posts'] {
  --vf-text-margin--bottom: 0;

  li {
    @include set-type(text-body--2);
    margin-bottom: map-get($vf-spacing-map, vf-spacing--sm);
  }
}
