$componentInfo: (
             name: "@visual-framework/vf-inlay",
             version: "1.0.0-rc.1",
             location: "components/vf-inlay",
             vfCoreVersion: "2.2.10",
             buildTimeStamp: "Wed, 11 Nov 2020 08:41:28 GMT"
          );