$componentInfo: (
             name: "@visual-framework/vf-inlay",
             version: "1.0.0-rc.1",
             location: "components/vf-inlay",
             vfCoreVersion: "2.2.9",
             buildTimeStamp: "Fri, 30 Oct 2020 09:04:49 GMT"
          );