/*! VF-WP - Main (Sass-compiled) */
/**
 * Reset page grid when VF container patterns require a wrapping div
 */
.vfwp-column-reset {
  grid-column: 1 / -1;
}

/**
 * Ignore width and height attributes on attachments
 */
img[class*="attachment"] {
  width: auto;
  height: auto;
}

/*! VF-WP - Hacks (Sass-compiled) */
/**
 * There's no escaping it, sometimes you need workarounds.
 */
/**
 * Fix an issue where the ::before pseudo element needs a parent element with
 * a background-color. However in the WP theme, that's <body>, and we can't
 * z-index under it :(
 */
.vf-wp-theme .vf-navigation--main::before {
  display: none;
}

/*
 *
 * Here lies a set of corrections that make components from VF1 look like VF2, in terms of colour
 * and typography. So as not to have to make too many 'hacks' in VF2.0
 *
 */
body .masthead-black-bar {
  background-color: #373a36;
  /* VF2.0 $vf-color--grey--darkest */
}

#masthead-black-bar .row {
  max-width: 76.5rem;
}

#global-footer .row {
  max-width: 76.5rem;
}

#global-nav {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

#global-footer {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

a {
  border: none !important;
}

a:hover {
  text-decoration: underline;
}

html body {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

html body h1, html body .h1, html body h2, html body .h2, html body h3, html body .h3, html body h4, html body .h4, html body h5, html body .h5, html body h6, html body .h6 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

body, p {
  -webkit-font-smoothing: unset !important;
  text-rendering: initial;
}

.vf-button--tertiary:visited {
  color: white !important;
}
