/*! VF-WP - Main (Sass-compiled) */
/**
 * Reset page grid when VF container patterns require a wrapping div
 */
.vfwp-column-reset {
  grid-column: 1 / -1;
}

/**
 * Ignore width and height attributes on attachments
 */
img[class*="attachment"] {
  width: auto;
  height: auto;
}

/*! VF-WP - Hacks (Sass-compiled) */
/**
 * There's no escaping it, sometimes you need workarounds.
 */
/**
 * Fix an issue where the ::before pseudo element needs a parent element with
 * a background-color. However in the WP theme, that's <body>, and we can't
 * z-index under it :(
 */
.vf-wp-theme .vf-navigation--main::before {
  display: none;
}

/*
 *
 * Here lies a set of corrections that make components from VF1 look like VF2, in terms of colour
 * and typography. So as not to have to make too many 'hacks' in VF2.0
 *
 */
.masthead-black-bar {
  background-color: #373a36;
  /* VF2.0 $vf-color--grey--darkest */
}

#masthead-black-bar .row {
  max-width: 76.5rem;
}

#global-footer .row {
  max-width: 76.5rem;
}

#global-nav {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

#global-footer {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

a {
  border: 0;
}

a:hover {
  border: 1px solid currentcolor;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
}

p {
  text-rendering: initial;
}

.vf-button--tertiary:visited {
  color: white !important;
}
