$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.0.0-beta.4"
          );