$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Fri, 27 Feb 2026 09:52:53 GMT"
          );