$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.33",
             buildTimeStamp: "Thu, 04 Nov 2021 10:12:52 GMT"
          );