$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Wed, 26 Nov 2025 06:59:49 GMT"
          );