$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.11",
             buildTimeStamp: "Fri, 20 Nov 2020 08:27:08 GMT"
          );