$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.32",
             buildTimeStamp: "Tue, 19 Oct 2021 10:15:25 GMT"
          );