$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.13",
             buildTimeStamp: "Mon, 07 Dec 2020 03:47:11 GMT"
          );