$componentInfo: (
             name: "@visual-framework/vfwp-gutenberg-blocks",
             version: "0.0.1",
             location: "components/vfwp-gutenberg-blocks",
             vfCoreVersion: "2.2.33",
             buildTimeStamp: "Fri, 05 Nov 2021 05:18:17 GMT"
          );