/* stylelint-disable */
:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-color__text--primary: #1a1c1a;
  --vf-color__text--secondary: #373a36;
  --vf-color__link: #3b6fb6;
  --vf-color__link--hover: #193f90;
  --vf-color__link--focus: #193f90;
  --vf-color__link--visited: #563d82;
}

:root {
  --vf-color__button__text--primary: #ffffff;
  --vf-color__button__border--primary: #3b6fb6;
  --vf-color__button__background--primary: #3b6fb6;
  --vf-color__button__shadow--primary: #193f90;
  --vf-color__button__text--secondary: #3b6fb6;
  --vf-color__button__border--secondary: #3b6fb6;
  --vf-color__button__background--secondary: #ffffff;
  --vf-color__button__shadow--secondary: #193f90;
  --vf-color__button__text--tertiary: #ffffff;
  --vf-color__button__border--tertiary: #373a36;
  --vf-color__button__background--tertiary: #373a36;
  --vf-color__button__shadow--tertiary: #000000;
}

:root {
  --vf-color__brand: #18974c;
  --vf-color__brand--dark: #0a5032;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #d8d8d8;
  --vf-ui-color--grey--light: #f3f3f3;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

:root {
  --vf-color--neutral--0: #ffffff;
  --vf-color--neutral--100: #f3f3f3;
  --vf-color--neutral--200: #e4e4e4;
  --vf-color--neutral--300: #d0d0ce;
  --vf-color--neutral--400: #a9abaa;
  --vf-color--neutral--500: #8d8f8e;
  --vf-color--neutral--600: #707372;
  --vf-color--neutral--700: #54585a;
  --vf-color--neutral--800: #373a36;
  --vf-color--neutral--900: #000000;
}

:root {
  --vf-theme--primary: #3b6fb6;
  --vf-theme--primary--dark: #193f90;
  --vf-theme--secondary: #18974c;
  --vf-theme--secondary--dark: #007b53;
  --vf-theme--tertiary: #54585a;
  --vf-theme--quaternary: #f4c61f;
  --vf-theme--quinary: #d0d0ce;
}

/* stylelint-enable */
/*!
 * Component: @visual-framework/vf-global-header
 * Version: 3.1.2
 * Location: components/undefined
 */
.vf-global-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.vf-global-header > [class*=logo] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.vf-global-header__site-name {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #373a36;
  font-weight: 400;
  line-height: 1.71;
  margin: var(--vf-stack-margin, 0) 0 0 0;
}

@media (min-width: 768px) {
  .vf-global-header__site-name {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
html:not(.vf-disable-deprecated) {
  /*!
  * Component: @visual-framework/vf-masthead
  * Version: 3.0.1
  * Location: components/undefined
  */
}
html:not(.vf-disable-deprecated) .vf-masthead {
  background-color: #d0d0ce;
  background-color: var(--vf-masthead__color--background-default, #d0d0ce);
  color: #000000;
  color: var(--vf-masthead__color--foreground-default, #000000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
}
html:not(.vf-disable-deprecated) .vf-masthead::before {
  z-index: 1984 !important;
}
html:not(.vf-disable-deprecated) .vf-masthead__title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  z-index: 1984;
}
html:not(.vf-disable-deprecated) .vf-masthead__heading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: #1a1c1a;
  font-weight: 700;
  line-height: 1.547;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-break: break-word;
}
html:not(.vf-disable-deprecated) .vf-masthead__heading--additional {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: 1.5;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  position: relative;
  top: -4px;
}
html:not(.vf-disable-deprecated) .vf-masthead__heading__link {
  color: inherit;
  text-decoration: none;
  z-index: 1984;
}
html:not(.vf-disable-deprecated) .vf-masthead__subheading {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #373a36;
  font-weight: 500;
  line-height: 1.57;
  margin: var(--vf-stack-margin, 0) 0 0 0;
  text-transform: uppercase;
}
html:not(.vf-disable-deprecated) .vf-masthead__subheading__text {
  margin-right: 0.5rem;
}
html:not(.vf-disable-deprecated) .vf-masthead__subheading__text a {
  color: inherit;
  text-decoration: none;
  z-index: 1984;
}
html:not(.vf-disable-deprecated) .vf-masthead__subheading__text a:hover, html:not(.vf-disable-deprecated) .vf-masthead__subheading__text a:focus {
  text-decoration: underline;
}
html:not(.vf-disable-deprecated) .vf-masthead-theme--primary {
  --vf-masthead__color--background-default: #3b6fb6;
  --vf-masthead__color--foreground-default: #ffffff;
}
html:not(.vf-disable-deprecated) .vf-masthead-theme--secondary {
  --vf-masthead__color--background-default: #18974c;
  --vf-masthead__color--foreground-default: #000000;
}
html:not(.vf-disable-deprecated) .vf-masthead-theme--tertiary {
  --vf-masthead__color--background-default: #54585a;
  --vf-masthead__color--foreground-default: #ffffff;
}
html:not(.vf-disable-deprecated) .vf-masthead--with-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 0 0;
}
html:not(.vf-disable-deprecated) .vf-masthead--with-title-block .vf-masthead__title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: var(--vf-masthead__color--background-default, var(--global-theme-bg-color, #000000));
  color: var(--vf-masthead__color--foreground-default, var(--global-theme-fg-color, #ffffff));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 24px;
  padding-left: 0;
  position: relative;
  z-index: 1984;
}
html:not(.vf-disable-deprecated) .vf-masthead--with-title-block .vf-masthead__title::before {
  background-color: var(--vf-masthead__color--background-default, var(--global-theme-bg-color, #000000));
  content: "";
  height: 100%;
  margin-left: calc(50% - (50vw - var(--context-margin--inline, 0px)));
  position: absolute;
  top: 0;
  width: calc(50vw - var(--context-margin--inline, 0px) * 2);
}
html:not(.vf-disable-deprecated) .vf-masthead--with-title-block .vf-masthead__subheading {
  z-index: 1984;
}
html:not(.vf-disable-deprecated) [class*=with-title-block][class*=theme] .vf-masthead__title {
  --vf-masthead__color--background-default: set-ui-color(vf-ui-color--black);
}

/*!
 * Component: @visual-framework/vf-navigation
 * Version: 5.0.0
 * Location: components/undefined
 */
.vf-navigation__link {
  border-bottom: none;
  text-decoration: none;
  color: #54585a;
}
.vf-navigation__link:visited {
  color: #54585a;
  border-bottom: none;
}
.vf-navigation__link:visited:hover {
  color: #54585a;
  text-decoration: underline;
}
.vf-navigation__link:hover {
  color: #000000;
  border-bottom: none;
  text-decoration: underline;
}
.vf-navigation__link:focus, .vf-navigation__link:hover {
  text-decoration: underline;
}

.vf-navigation__item [aria-current=page],
.vf-navigation__item [aria-selected=true] {
  color: #3b6fb6;
  text-shadow: 1px 0 0 currentColor;
}

.vf-navigation--main .vf-navigation__link {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #1a1c1a;
  font-weight: 400;
  line-height: 1.421;
  margin: var(--vf-stack-margin, 0) 0 0 0;
}

@media (min-width: 1024px) {
  .vf-navigation--global {
    margin-left: auto;
  }
}

.vf-navigation--on-this-page.vf-u-fullbleed {
  position: sticky;
}

.vf-navigation--on-this-page.vf-u-fullbleed {
  margin-bottom: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1986;
}
.vf-navigation--on-this-page.vf-u-fullbleed .vf-navigation__link:focus, .vf-navigation--on-this-page.vf-u-fullbleed .vf-navigation__link:hover {
  text-decoration: none;
  text-shadow: 1px 0 0 currentColor;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 0.5em;
  text-underline-position: under;
  -webkit-text-decoration-color: #000000;
          text-decoration-color: #000000;
}
.vf-navigation--on-this-page.vf-u-fullbleed .vf-navigation__link[aria-selected=true] {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 0.5em;
  text-underline-position: under;
  -webkit-text-decoration-color: #3b6fb6;
          text-decoration-color: #3b6fb6;
}
.vf-navigation--on-this-page.vf-u-fullbleed > .vf-list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.vf-navigation--on-this-page.vf-u-fullbleed [class*=__item] {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (min-width: 768px) {
  .vf-navigation--on-this-page.vf-u-fullbleed {
    margin-bottom: 2rem;
    overflow: unset;
  }
  .vf-navigation--on-this-page.vf-u-fullbleed::before {
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 768px) {
  .vf-navigation--on-this-page.vf-u-fullbleed {
    padding: 0.5rem 2rem 0.5rem 1.25rem;
    margin-left: -1em;
    width: calc(100% - 1em);
  }
}
/*!
 * Component: @visual-framework/vf-header
 * Version: 3.0.1
 * Location: components/undefined
 */
html:not(.vf-disable-deprecated) .vf-header {
  background-position: top center;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-column: 1/-1;
  width: 100%;
}
html:not(.vf-disable-deprecated) .vf-header .vf-navigation--main {
  grid-column: 1/-1;
}
html:not(.vf-disable-deprecated) .vf-header .vf-navigation--additional {
  grid-column: 1/-1;
  grid-row: 2;
}
html:not(.vf-disable-deprecated) .vf-header__navigation--site {
  background-color: #54585a;
}
html:not(.vf-disable-deprecated) .vf-header__navigation--site > * {
  margin-left: -16px;
}
html:not(.vf-disable-deprecated) .vf-header__navigation--additional {
  background-color: #54585a;
  grid-row: 2;
}