:root {
  --vf-color--green: #18974c;
  --vf-color--green--darkest: #0a5032;
  --vf-color--green--dark: #007b53;
  --vf-color--green--light: #6cc24a;
  --vf-color--green--lightest: #d0debb;
  --vf-color--grey: #707372;
  --vf-color--grey--darkest: #373a36;
  --vf-color--grey--dark: #54585a;
  --vf-color--grey--light: #a8a99e;
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--red: #d41645;
  --vf-color--red--dark: #a6093d;
  --vf-color--red--light: #e58f9e;
  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;
  --vf-color--blue--light: #8bb8e8;
  --vf-color--purple: #734595;
  --vf-color--purple--dark: #563d82;
  --vf-color--purple--light: #cba3d8;
  --vf-color--orange: #f49e17;
  --vf-color--orange--dark: #b65417;
  --vf-color--orange--light: #efc06e;
  --vf-color--yellow: #f4c61f;
  --vf-color--yellow--dark: #ffb81c;
  --vf-color--yellow--light: #fdd757;
  --vf-color--bright-green: #a1be1f;
  --vf-color--bright-green--dark: #7fb428;
  --vf-color--bright-green--light: #e2e868;
}

:root {
  --vf-ui-color--black: #000000;
  --vf-ui-color--grey: #f3f3f3;
  --vf-ui-color--grey--light: #d8d8d8;
  --vf-ui-color--yellow: #fffadc;
  --vf-ui-color--red: #d32f2f;
  --vf-ui-color--white: #ffffff;
  --vf-ui-color--off-white: #fafafa;
}

/*!
 * Component: @visual-framework/vf-font-plex-sans
 * Version: 1.0.0-beta.8
 * Location: components/vf-core-
 */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local("IBM Plex Sans Bold Italic"), local("IBMPlexSans-BoldItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 200;
  src: local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtraLight"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 200;
  src: local("IBM Plex Sans ExtraLight Italic"), local("IBMPlexSans-ExtraLightItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local("IBM Plex Sans Italic"), local("IBMPlexSans-Italic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 300;
  src: local("IBM Plex Sans Light Italic"), local("IBMPlexSans-LightItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local("IBM Plex Sans Medium Italic"), local("IBMPlexSans-MediumItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local("IBM Plex Sans SemiBold Italic"), local("IBMPlexSans-SemiBoldItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 450;
  src: local("IBM Plex Sans Text"), local("IBMPlexSans-Text"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Text.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 450;
  src: local("IBM Plex Sans Text Italic"), local("IBMPlexSans-TextItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-TextItalic.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100;
  src: local("IBM Plex Sans Thin"), local("IBMPlexSans-Thin"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-Thin.woff") format("woff");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100;
  src: local("IBM Plex Sans Thin Italic"), local("IBMPlexSans-ThinItalic"), url("../assets/vf-font-plex-sans/assets/IBM-Plex-Sans/fonts/complete/woff/IBMPlexSans-ThinItalic.woff") format("woff");
}

.vf-font-plex-sans {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 0 0;
}

/*!
 * Component: @visual-framework/vfwp-admin
 * Version: 0.0.1
 * Location: components/vfwp-admin
 */
.vfwp-notice a {
  text-decoration: none;
}

.has-extra-large-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.has-large-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.has-regular-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.has-small-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.has-extra-small-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-list-table .column-vf_hash,
.wp-list-table .column-vf_modified {
  width: 10%;
}

.post-type-vf_block .edit-post-visual-editor,
.post-type-vf_container .edit-post-visual-editor {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.post-type-vf_block .editor-block-list__layout,
.post-type-vf_container .editor-block-list__layout {
  min-height: 10px;
}

.post-type-vf_block .edit-post-layout__metaboxes,
.post-type-vf_container .edit-post-layout__metaboxes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.post-type-vf_block .edit-post-layout__metaboxes:empty,
.post-type-vf_container .edit-post-layout__metaboxes:empty {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.post-type-vf_block .edit-post-layout__metaboxes .acf-hndle-cog,
.post-type-vf_container .edit-post-layout__metaboxes .acf-hndle-cog {
  display: none !important;
}

.editor-post-title__block {
  --vf-text-margin--bottom: 0;
}

.editor-post-title__block .editor-post-title__input {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block {
  max-width: 780px;
}

.wp-block .block-editor-default-block-appender {
  --vf-text-margin--bottom: 0;
}

.wp-block .block-editor-default-block-appender .block-editor-default-block-appender__content {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/heading'] {
  --vf-text-margin--bottom: 0;
}

.wp-block[data-type='core/heading'] h1 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.547;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/heading'] h2 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/heading'] h3 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.333;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/heading'] h4 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.29;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/heading'] h5 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/heading'] h6 {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/paragraph'] {
  --vf-text-margin--bottom: 0;
}

.wp-block[data-type='core/paragraph'] .editor-rich-text p {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  line-height: 1.421 !important;
}

.wp-block[data-type='core/paragraph'] .editor-rich-text .has-extra-large-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3125;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/paragraph'] .editor-rich-text .has-large-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/paragraph'] .editor-rich-text .has-regular-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/paragraph'] .editor-rich-text .has-small-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/paragraph'] .editor-rich-text .has-extra-small-font-size {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/list'] {
  --vf-text-margin--bottom: 0;
}

.wp-block[data-type='core/list'] .editor-rich-text li {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin-bottom: 8px;
}

.wp-block[data-type='core/quote'] {
  --vf-text-margin--bottom: 16px;
}

.wp-block[data-type='core/quote'] .editor-rich-text p {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/quote'] .wp-block-quote__citation {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/quote'] .wp-block-quote {
  border-left: 4px solid #d0d0ce;
}

.wp-block[data-type='core/table'] {
  --vf-text-margin--bottom: 0;
}

.wp-block[data-type='core/table'] .editor-rich-text {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
}

.wp-block[data-type='core/archives'],
.wp-block[data-type='core/categories'],
.wp-block[data-type='core/latest-posts'] {
  --vf-text-margin--bottom: 0;
}

.wp-block[data-type='core/archives'] li,
.wp-block[data-type='core/categories'] li,
.wp-block[data-type='core/latest-posts'] li {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.421;
  margin: 0 0 16px 0;
  margin: 0 0 var(--vf-text-margin--bottom, 16px) 0;
  margin-bottom: 8px;
}
