$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.39",
             buildTimeStamp: "Tue, 04 Apr 2023 22:35:43 GMT"
          );