$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Wed, 26 Nov 2025 06:59:49 GMT"
          );