$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.14",
             buildTimeStamp: "Wed, 23 Dec 2020 05:37:30 GMT"
          );