$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Mon, 12 Jan 2026 09:50:23 GMT"
          );