$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.13",
             buildTimeStamp: "Fri, 04 Dec 2020 10:09:24 GMT"
          );