$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.37",
             buildTimeStamp: "Fri, 04 Nov 2022 14:25:32 GMT"
          );