$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.39",
             buildTimeStamp: "Fri, 20 Oct 2023 15:31:22 GMT"
          );