$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.36",
             buildTimeStamp: "Wed, 24 Nov 2021 12:29:45 GMT"
          );