$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.47",
             buildTimeStamp: "Tue, 24 Jun 2025 08:42:46 GMT"
          );