$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.39",
             buildTimeStamp: "Mon, 23 Oct 2023 03:16:26 GMT"
          );