$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.31",
             buildTimeStamp: "Mon, 02 Aug 2021 14:17:50 GMT"
          );