$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.23",
             buildTimeStamp: "Wed, 21 Apr 2021 17:35:34 GMT"
          );