$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.31",
             buildTimeStamp: "Tue, 24 Aug 2021 02:04:00 GMT"
          );