$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.24",
             buildTimeStamp: "Wed, 19 May 2021 10:46:50 GMT"
          );