$componentInfo: (
             name: "@visual-framework/vf-componenet-rollup",
             version: "1.0.0-beta.4",
             location: "components/vf-componenet-rollup",
             vfCoreVersion: "2.2.31",
             buildTimeStamp: "Thu, 07 Oct 2021 07:30:53 GMT"
          );