# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build VF assets

on:
  push:
    branches: [ master ]
#   pull_request:
#     branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install
      uses: CultureHQ/actions-yarn@master
      with:
        args: install
    - name: Build
      uses: CultureHQ/actions-yarn@master
      with:
        args: build
    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        # https://github.com/stefanzweifel/git-auto-commit-action
        # Required
        commit_message: Apply automatic changes

        # Optional branch to push to, defaults to the current branch
        # branch: feature-123

        # Optional options appended to `git-commit`
        commit_options: '--no-verify --signoff'

        # Optional glob pattern of files which should be added to the commit
        # file_pattern: ./wp-content/themes/vf-wp/assets/**/*.* tests/*.js
        file_pattern: ./wp-content/themes/vf-wp/assets/**/*.* ./vf-components/**/*.*

        # Optional local file path to the repository
        # repository: .

        # Optional commit user and author settings
        commit_user_name: VF-WP GitHub Actions Bot
        commit_user_email: vf-wp-github-actions-bot@EMBL.org
        commit_author: VF-WP GitHub Actions Bot <vf-wp-github-actions-bot@EMBL.org>

        # Optional tag message
        # Action will create and push a new tag to the remote repository and the defined branch
        # tagging_message: 'v1.0.0'

        # Optional options appended to `git-push`
        # push_options: '--force'


#     steps:
#     - uses: actions/checkout@v2
#     - name: Use Node.js ${{ matrix.node-version }}
#       uses: actions/setup-node@v1
#       with:
#         node-version: ${{ matrix.node-version }}
#     - run: npm ci
#     - run: npm run build --if-present
#     - run: npm test
