name: Mirror and run GitLab CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Mirror + trigger CI
      uses: sandykadam/gitlab-mirror-and-ci-action@master
      with:
        args: "https://sandeep:7WBUDzA5ZdMbWogtczeK@gitlab.ebi.ac.uk/ebiwd/test-mirror-repo"
      env:
        GITLAB_HOSTNAME: "gitlab.ebi.ac.uk"
        GITLAB_USERNAME: "sandeep"
        GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
        GITLAB_PROJECT_ID: "2976"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
